@media (min-width:300px) and (max-width:900px) {
    body {
        width: 160%;
    }
}


body {
    margin: 0%;
    padding: 0%;
}


.navbar {
    width: 100%;
    display: inline-block;
    position: fixed;
    font-family: sans-serif;
    justify-content: space-between;
}


.logo {
    margin-top: 1%;
    position: relative;
    left: 5%;
}


ul li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
}


.top-right {
    float: right;
    margin-top: -5%;
    margin-right: 5%;
}


input {
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: black;
    height: 20%;
    background-color: transparent;
}

.fa .fa-shopping-bag {
    padding-left: 25%;
}


.info {
    background-color: #f9f9f9;
    width: 90%;
    padding: 1%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-bottom-style: groove;
}


.products {
    margin: auto;
    margin-left: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.items p {
    background-color: black;
    color: white;
    width: 45px;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 100;
}

.items h5 {
    background-color: black;
    color: white;
    text-align: center;
    font-family: sans-serif;
    padding: 1%;
}


footer {
    margin-top: 5%;
    font-family: sans-serif;
    margin-bottom: 5%;
    width: 100%;
}


.f1 {
    text-align: center;
}

h6 {
    font-size: smaller;
    font-weight: lighter;
}

.email {
    width: 500px;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}

.f {
    list-style: none;
    font-size: small;
    font-weight: 100;
}

p {
    font-size: 10px;
    color: grey;
    height: 20px;
}